@mixin border ($color){
border-top: 1px solid $color;
border-bottom: 1px solid $color;
}

@mixin padding ($padding){
padding: $padding;

}

.header{
@include border(red);
@include padding(20px);
}

.header-btn{
  @include padding(5px 10px);
}