@import './mixin';

%notifikation-1 {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 0;
  max-width: 400px;
  background-color: grey;
  color: wheat;
}

.notifikation-2 {
border-radius: 10px;
}

.notifikation-succeses {
  @extend .notifikation-2;
  background-color: green;
}

.notifikation-warning {
  // @extend %notifikation-1;
  @extend .notifikation-2;

  @include border(red);

  background-color: blue;
}

.notifikation-error {
  @include padding(10px);
  background-color: red;
}